.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}

.grid-item {
  background-color: #4CAF50;
  height: 400px;
  width: 300px;
  padding: 50px;
  color: white;
  text-align: center;
  border: 1px solid #ccc;
}
