<div class="container">
    <div class="grid-item"><img src="../../assets/images/redDead.png" alt="test"></div>
    <div class="grid-item"><img src="../../assets/images/redDead.png" alt=""></div>
    <div class="grid-item"><img src="../../assets/images/redDead.png" alt=""></div>
    <div class="grid-item"><img src="../../assets/images/redDead.png" alt=""></div>
    <div class="grid-item"><img src="../../assets/images/redDead.png" alt=""></div>
    <div class="grid-item"><img src="../../assets/images/redDead.png" alt=""></div>
</div>